.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  margin-bottom: 10px;
  margin-right: 18px;
}

.progress-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
